.post-header .post-title {line-height: 1.25em;}
.post-content p {line-height: 1.5;}
figure.imgRightMargin { float:right; margin: 10px 10px 10px 10px; }


.post .post-header .post-title {
    font-family: "Oswald";
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;}

.post-content {font-family: "Ubuntu";
    font-size: 18px;
    text-rendering: optimizeLegibility;}

.post-copyright {
    font-family: source sans pro,helvetica neue,Arial,sans-serif;
    font-weight: 400;
    font-size: .85em;
    line-height: 1.25em;
}

mark {
    background: rgba(255, 255, 0, 0.3);
}

blockquote {
  margin-bottom: 1em;
  background: #eee;
  padding: 1em;
  border-radius: 0.5em;
}
blockquote cite {
    font-size: 0.8em;
}
